*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

div{
   width: 100px;
   height: 100px;
   background-color: blue;
   border-radius: 50%;
   margin: 30px;
   box-shadow: 0 0 10px 15px rgb(13, 67, 218);
   transition: all 3s ease-in;
}
div.ball:hover{
    translate: 90vw 0;
    background-color: cyan;
}
div.ball_2:hover{
    translate: 90vw 0;
    background-color: cyan;
}
div.ball_3:hover{
    translate: 90vw 0;
    background-color: cyan;
}
div.ball_4:hover{
    translate: 90vw 0;
    background-color: cyan;
}